{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Data Barang Keluar</h1>
  </div>
  <div class="action-buttons">
    <a href="" type="button" class="btn cetak">Cetak Laporan</a>
    <a href="" type="button" class="btn tambah-barang">Tambah Barang Keluar</a>
  </div>

</div>

<table>
  <thead>
    <tr>
      <th>Kode Transaksi</th>
      <th>Nama Barang</th>
      <th>Jumlah</th>
      <th>Tanggal Keluar</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for transaksi in transaksi_keluar %}
    <tr>
      <td>{{ transaksi.id_transaksi }}</td>
      <td>{{ transaksi.nama_barang }}</td>
      <td>{{ transaksi.jumlah }}</td>
      <td>{{ transaksi.tanggal_keluar }}</td>
      <td>
        <button class="btn delete">Hapus</button>
      </td>
    </tr>
    {% endfor %}


    <!-- {% for transaksi in transaksi_keluar %}
    <tr>
      <td>{{ transaksi.id_transaksi }}</td>
      <td>{{ transaksi.id_barang }}</td>
      <td>{{ transaksi.jumlah }}</td>
      <td>{{ transaksi.id_pengguna }}</td>
      <td>
        <a href="{{ url_for('delete_barang_keluar', id=transaksi.id_transaksi) }}">Hapus</a>
      </td>
    </tr>
    {% endfor %} -->


  </tbody>
</table>
{% endblock %}