{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Transaksi Barang Keluar</h1>
  </div>
  <div class="action-buttons">
    <a href="" type="button" class="btn cetak">Cetak Laporan</a>
    <a href="{{ url_for('tambah_transaksikeluar') }}" type="button" class="btn tambah-barang">Tambah Transaksi</a>
  </div>

</div>

<table>
  <thead>
    <tr>
      <th>Kode Transaksi</th>
      <th>Nama Barang</th>
      <th>Jumlah</th>
      <th>Tanggal Keluar</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for transaksi in transaksi_keluar %}
    <tr>
      <td>{{ transaksi.id_transaksi }}</td>
      <td>{{ transaksi.nama_barang }}</td>
      <td>{{ transaksi.jumlah }}</td>
      <td>{{ transaksi.tanggal_keluar }}</td>
      <td>
        <a href="/delete_transaksikeluar/{{ transaksi.id_transaksi }}" type="button" class="btn delete" onclick="return confirm('Apakah Anda yakin ingin menghapus transaksi ini?');">Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}