{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Data Barang</h1>
  </div>
  <a href="{{ url_for('tambah_barang') }}" type="button" class="btn tambah-barang">Tambah Barang</a>

</div>

<!-- Tabel yang menampilkan data barang -->
<table>
  <thead>
    <tr>
      <th>ID Barang</th>
      <th>Nama Barang</th>
      <th>Deskripsi</th>
      <th>Kategori</th>
      <th>Stok</th>
      <th>Harga</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for item in barang %}
    <tr>
      <td>{{ item.id_barang }}</td>
      <td>{{ item.nama_barang }}</td>
      <td>{{ item.deskripsi }}</td>
      <td>{{ item.kategori }}</td>
      <td>{{ item.stok }}</td>
      <td>{{ item.harga }}</td>
      <td>
        <a href="/edit_barang/{{item.id_barang}}" class="btn edit">Edit</a>
        <a href="/delete_barang/{{item.id_barang}}" class="btn delete" onclick="return confirm('Apakah Anda yakin ingin menghapus barang ini?');">Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}