{% extends "base.html" %}

{% block content %}
<h1>Edit Supplier</h1>
<form action="/update_supplier/{{ supplier.id_supplier }}" method="POST">
  <label for="nama_supplier">Nama Supplier:</label>
  <input type="text" id="nama_supplier" name="nama_supplier" value="{{ supplier.nama_supplier }}" required>

  <label for="alamat_supplier">Alamat:</label>
  <input type="text" id="alamat_supplier" name="alamat_supplier" value="{{ supplier.alamat_supplier }}" required>

  <label for="telepon_supplier">No Telepon:</label>
  <input type="text" id="telepon_supplier" name="telepon_supplier" value="{{ supplier.telepon_supplier }}" required>

  <button type="submit">Simpan Perubahan</button>
</form>
{% endblock %}
