{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Laporan Barang Keluar</h1>
  </div>
  <a href="" type="button" class="btn cetak">Cetak</a>
</div>

<table>
  <thead>
    <tr>
      <th>ID Transaksi</th>
      <th>ID Barang</th>
      <th>Jumlah</th>
      <th>Tanggal Keluar</th>
      <th>ID Pengguna</th>
    </tr>
  </thead>
  <tbody>
    {% for transaksi in laporan_keluar %}
    <tr>
      <td>{{ transaksi.id_transaksi }}</td>
      <td>{{ transaksi.id_barang }}</td>
      <td>{{ transaksi.jumlah }}</td>
      <td>{{ transaksi.tanggal_keluar }}</td>
      <td>{{ transaksi.id_pengguna }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
