{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Supplier</h1>
  </div>
  <a href="" type="button" class="btn tambah-barang">Tambah Supplier</a>
</div>

<table>
  <thead>
    <tr>
      <th>ID Supplier</th>
      <th>Nama Supplier</th>
      <th>Alamat</th>
      <th>No Telepon</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for item in values %}
    <tr>
      <td>{{item.id_supplier}}</td>
      <td>{{item.nama_supplier}}</td>
      <td>{{item.alamat_supplier}}</td>
      <td>{{item.telepon_supplier}}</td>
      <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
      </td>
    </tr>
    {% endfor %}
    <!-- <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr>
      <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr>
      <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr>
      <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr>
      <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr>
      <tr>
        <td>SPL230</td>
        <td>PT. Kayu Bahagia</td>
        <td>Colomadu</td>
        <td>089726328172</td>
        <td>
        <button class="btn edit">Edit</button>
        <button class="btn delete">Hapus</button>
        </td>
      </tr> -->
  </tbody>
</table>

{% endblock %}