  {% extends "base.html" %}

  {% block content %}
  <div class="header-bar">
    <div class="judul">
      <h1>Supplier</h1>
    </div>
    <a href="{{ url_for('tambah_supplier') }}" type="button" class="btn tambah-barang">Tambah Supplier</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID Supplier</th>
        <th>Nama Supplier</th>
        <th>Alamat</th>
        <th>No Telepon</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for item in values %}
      <tr>
        <td>{{item.id_supplier}}</td>
        <td>{{item.nama_supplier}}</td>
        <td>{{item.alamat_supplier}}</td>
        <td>{{item.telepon_supplier}}</td>
        <td>
          <button class="btn edit">Edit</button>
          <a href="{{ url_for('hapus_supplier', id_supplier=item.id_supplier) }}" onclick="return confirm('Apakah Anda yakin ingin menghapus supplier ini?');" class="btn delete">Hapus</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    // Cek apakah ada parameter 'success' di query string
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success')) {
        alert('Data supplier berhasil ditambah!');
    }
  </script>

  {% endblock %}