{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <div class="judul">
    <h1>Tambah Supplier</h1>
  </div>
</div>

<form action="{{ url_for('simpan_supplier') }}" method="POST">
  <div class="form-group">
    <label for="nama_supplier">Nama Supplier:</label>
    <input type="text" id="nama_supplier" name="nama_supplier" required>
  </div>
  
  <div class="form-group">
    <label for="alamat_supplier">Alamat:</label>
    <input type="text" id="alamat_supplier" name="alamat_supplier" required>
  </div>
  
  <div class="form-group">
    <label for="telepon_supplier">No Telepon:</label>
    <input type="text" id="telepon_supplier" name="telepon_supplier" required>
  </div>
  
  <button type="submit">Simpan</button>
</form>

{% endblock %}
